---
layout: projects
---


<!DOCTYPE html>
<html>
  <head>
    <title>Projects | Assessment</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="/stylesheets/normalize.css" rel="stylesheet"/>
    <link href="./stylesheets/main.css" rel="stylesheet"/>
    <script src="//use.typekit.net/szn8lcg.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  
  <body>
    <header id="hero">
      <div class="container">
        <h1>Erica's Skills</h1>

        <span class="content-divider"></span>    
        <blockquote>
        &ldquo;Stay hungry, stay young, stay foolish, stay curious, and above all, stay humble because just when you think you got all the answers, is the moment when some bitter twist of fate in the universe will remind you that you very much don't.&rdquo;
        <cite>-  Tom Hiddleston</cite>
        </blockquote>
        <span class="content-divider"></span>
      </div>      
    </header>


      <section class="container">
        <h2>Web Development</h2>
        <div class="row">
          <div class="column">
            <ul class="progress">
              <li skill="HTML & SCSS" rating="5">
                <%= partial("circle_svg", locals: {color: "#8CBEB2", rating: 5}) %>
              </li>
            </ul>
          </div>  

          <div class="column">
            <ul class="progress">
              <li skill="Responsive" rating="5">
                <%= partial("circle_svg", locals: {color: "#8CBEB2", rating: 5}) %>
              </li>
            </ul>
          </div>

          <div class="column">
            <ul class="progress">
              <li skill="Ruby" rating="6">
                <%= partial("circle_svg", locals: {color: "#8CBEB2", rating: 6}) %>
              </li>
            </ul>
          </div>
          
          <div class="column">  
            <ul class="progress">
              <li skill="TDD" rating="6">
                <%= partial("circle_svg", locals: {color: "#8CBEB2", rating: 6}) %>
              </li>
            </ul>
          </div>
        </div>    
      </section>

      <section class="container">
        <h2>Design</h2>
        <div class="row">
          <div class="column">
            <ul class="progress">
              <li skill="Adobe CS" rating="8">
                <%= partial("circle_svg", locals: {color: "#F3B562", rating: 8}) %>
              </li>
            </ul>
          </div>

          <div class="column">       
            <ul class="progress">
              <li skill="Graphic Design" rating="8">
                <%= partial("circle_svg", locals: {color: "#F3B562", rating: 8}) %>
              </li>
            </ul>
          </div>
          

          <div class="column">     
            <ul class="progress">
              <li skill="Typography" rating="7">
                <%= partial("circle_svg", locals: {color: "#F3B562", rating: 7}) %>
              </li>
            </ul>
          </div>
          

          <div class="column">     
            <ul class="progress">
              <li skill="Creativity" rating="10">
                <%= partial("circle_svg", locals: {color: "#F3B562", rating: 10}) %>
              </li>
            </ul>
          </div>
        </div>    
      </section>

      <section class="container">
        <h2>Personal Skills</h2>
        <div class="row">
          <div class="column">
            <ul class="progress">
              <li skill="Desire to learn" rating="10">
                <%= partial("circle_svg", locals: {color: "#F06060", rating: 10}) %>
              </li>
            </ul>
          </div>
          
          <div class="column">  
            <ul class="progress">
              <li skill="Adaptability" rating="10">
                <%= partial("circle_svg", locals: {color: "#F06060", rating: 10}) %>
              </li>
            </ul>
          </div>
          
          <div class="column">  
            <ul class="progress">
              <li skill="Empathy" rating="10">
                <%= partial("circle_svg", locals: {color: "#F06060", rating: 10}) %>
              </li>
            </ul>
          </div>
        </div>    
      </section>
    </div>            
  </body>
</html>  