<% dark = false unless defined?(dark) %>

<nav class="nav <%= dark ? 'nav--dark' : '' %>">
  <ul class="left">
    <li>
      <%= link_to "Erica Garcia", "/index.html", :class => 'logo' %>
    </li>
    <li>
      <%= link_to "EG", "/index.html", :class => 'logo--mobile' %>
    </li>
  </ul>

  <ul class="right">
    <li>
      <%= link_to "Work", "/#projects", :class => nav_link_class('work') %>
    </li>
    <li>
      <%= link_to "About", "/about.html", :class => nav_link_class('about') %>
    </li>
    <li>
      <%= link_to "Blog", "/blog.html", :class => nav_link_class('blog')%>
    </li>
    <li>
      <%= link_to "Helpful Things", "/helpfulthings.html", :class => nav_link_class('helpful things')%>
    </li>
  </ul>
</nav>