<div class="content-container" id="projects">
  <h2 class="section__title center">Work Samples</h2>
  <span class="section__divider"></span>

  <section class="row">

    <div class="column large-6">
      <%= project_preview("buildout") %>
    </div>

    <div class="column large-6">
      <%= project_preview("jellybeans") %>
    </div>

  </section>

  <section class="row">

    <div class="column large-6">
      <%= project_preview("thesocreports") %>
    </div>

    <div class="column large-6">
      <%= project_preview("jewelry") %>
    </div>

  </section>

  <section class="row">

    <div class="column large-6">
      <%= project_preview("axus") %>
    </div>

    <div class="column large-6">
      <%= project_preview("careerpage") %>
    </div>

  </section>

  <section class="row">

    <div class="column large-6">
      <%= project_preview("travelsite") %>
    </div>

    <div class="column large-6">
      <%= project_preview("fundwise") %>
    </div>

  </section>

  <section class="section">
    <h2 class="section__title center">Other products I have created:</h2>
    <span class="section__divider"></span>

    <div class="row">

      <div class="column large-4">
        <div class="card">
          <div class="card-section card-section--no-border card__accent--orange ">
            <p class="card-section__title">Biometric Authentication Application</p>
            <p class="card-section__info">Role: Lead Mobile and UX Designer</p>
          </div>
        </div>
      </div>

      <div class="column large-4">
        <div class="card">
          <div class="card-section card-section--no-border card__accent--green">
            <p class="card-section__title">Push Notification Mobile App</p>
            <p class="card-section__info">Role: Lead Product Designer</p>
          </div>
        </div>
      </div>

      <div class="column large-4">
        <div class="card">
          <div class="card-section card-section--no-border card__accent--purple">
            <p class="card-section__title">Recruiting Platform</p>
            <p class="card-section__info">Role: Lead Product Designer, Mentor</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="column large-4">
        <div class="card">
          <div class="card-section card-section--no-border card__accent--blue">
            <p class="card-section__title">International Non-profit Redesign</p>
            <p class="card-section__info">Role: Product Designer</p>
          </div>
        </div>
      </div>

      <div class="column large-4">
        <div class="card">
          <div class="card-section card-section--no-border card__accent--grey">
            <p class="card-section__title">Background Check Platform</p>
            <p class="card-section__info">Role: Product Design Lead</p>
          </div>
        </div>
      </div>

      <div class="column large-4">
        <div class="card">
          <div class="card-section card-section--no-border card__accent--peach">
            <p class="card-section__title">Digital Signage for Hotels</p>
            <p class="card-section__info">Role: Lead Web and Marketing Designer</p>
          </div>
        </div>
      </div>
    </div>

  </section>

</div>
